* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
}

.navbar {
    .navbar-toggler:focus {
        box-shadow: none !important;
    }
    .navbar-nav {
        .nav-item {
            .nav-link {
                font-weight: 400;
                &:focus {
                    outline: none;
                    box-shadow: none;
                }
                &:hover {
                    font-weight: 600;
                    color: #cf9700;
                }
            }
        }
        .active {
            color: #cf9700 !important;
            font-weight: 600 !important;
        }
    }
}

.box {
    width: 100px;
    height: 50px;
    background-color: #cf9700;
    transition: 0.5s;
    border-radius: 12px;
}

.box-active {
    width: 150px;
    transition: 0.5s;
}

header {
    .header-wrap-content {
        width: 100%;
        height: calc(100vh - 55px);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        .text-banner-wrap {
            padding: 40px 60px;
        }
    }
}